


#MainBox  {
	-fx-background-color: linear-gradient(rgb(150,150,150), rgb(160,160,160));
}

#DropButton  {
	-fx-background-color: 
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 8,16,8.16;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#DropButton:hover {
	-fx-background-color: 
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-text-fill: white;
}

#DropButton:pressed, .button:default:hover:pressed {
	-fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

#DropButton Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}

#DropBox {
	/*-fx-border-color: transparent transparent transparent black;
	-fx-border-width: 3;
	-fx-border-insets:  0;*/
	-fx-border-width: 0 0 0 2px;
	/*-fx-border-insets: 0 0 0 -3px;*/
    -fx-border-color: transparent transparent transparent
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%);
	-fx-margin: 10px;
}

#DropItem {
	/*-fx-border-color: transparent transparent black transparent;
	-fx-border-width: 3;*/
	-fx-border-insets: 0 0 0 -2;
	-fx-border-width: 0 0 2px 0;
	-fx-border-color: transparent transparent
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
		transparent;
	-fx-margin: 10px;
}

#MainLabel {
	-fx-font-family: "Helvetica";
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

.label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 20px;
}

#EqualsLabel {
	-fx-font-weight: bold;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}


#ContentBox .button  {
	-fx-background-color: 
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 8,16,8.16;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#ContentBox .button:hover {
	-fx-background-color: 
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-text-fill: white;
}

#ContentBox .button:pressed, .button:default:hover:pressed {
	-fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

#ContentBox .button Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}

#ToolBar {
	-fx-background-color: 
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
	-fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
    -fx-border-width: 0 0 2px 0;
	-fx-border-insets: 0 0 -3px 0;
    -fx-border-color: 
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%);
}

#ToolBar .button, .menu-button {
	-fx-background-color: transparent;	
	-fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;	
	-fx-background-radius: 0;
}

#ToolBar .button:hover, .menu-button:hover {
	-fx-background-color: 
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-text-fill: white;
}

#ToolBar .button:pressed, .button:default:hover:pressed,
		.menu-button:pressed, .menu-button:default:hover:pressed {
	-fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

#ToolBar .menu-button > .label {
	-fx-font-weight: bold;
    -fx-text-fill: #333333;	
	-fx-font-family: "Helvetica";
    -fx-font-size: 12px;
}

#ToolBar .menu-button:hover > .label {
    -fx-text-fill: white;	
}

#ToolBar .menu-item > .label {
	-fx-font-weight: bold;
    -fx-text-fill: #333333;	
	-fx-font-family: "Helvetica";
    -fx-font-size: 12px;
}

/* Test added by Erik */

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.button:pressed, .button:default:hover:pressed {

	-fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

.button:hover {

	-fx-background-color: 
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-text-fill: white;
}

.button {

	-fx-background-color: 
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 8,16,8.16;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}


.text{
	-fx-font-family: Helvetica;
	-fx-font-weight: bold;
}

.root {
	-fx-background-color: linear-gradient(rgb(150,150,150), rgb(160,160,160));
}







